$lightBlue: #4267b2;
$darkBlue: #3b5ca0;
$darkBg: #e9ebee;
$lightBg: #f5f6f7;
$lightIcon: #1a2947;
$darkIcon: #0d1524;

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 10px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $darkBg;
    font-family: Arial, Helvetica, sans-serif;
}

@mixin dotsLeft {
    margin-right: 10px;
    font-size: 1rem;
    text-align: right;
    line-height: 25px;
    color: #888;
    opacity: 1;
}

@mixin iconLeft {
    font-size: 1.2rem;
    color: $lightBlue
}

.wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $lightBlue;
        .nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 5vh;
            min-height: 2.6rem;
            max-width: 1080px;
            flex-grow: 1;
            transform: translateX(-9%);

            form{
                display: flex;
                justify-content: space-between;
                height: 1.5rem;
                flex-grow: 1;
                margin: 0 30px 0 3px;
            }

            form input{
                flex-grow: 1;
                height: 100%;
                font-size: 1rem;
                padding-left: 5px;
                border: none;
            }

            form button{
                z-index: 0;
                border: none;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

            .btn{
                height: 1.6rem;
                line-height: 1.6rem;
                padding: 0 5px;
                border-right: 1px solid $darkBlue;
                border-radius: 10%;
            }

            .btn button{
                border: none;
                background-color: transparent;
                color: $lightBg;
                font-weight: bold;
                cursor: pointer;
            }

            .btn:hover{
                background-color: $darkBlue;
            }

            .profile{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .profile img{
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                margin-right: 5px;
            }

            .fab, .fas{
                font-size: 1.4rem;
                color: $lightIcon;
                padding: 0 8px;
            }

            .fab:hover, .fas:hover{
                color: $darkIcon;
                cursor: pointer;
            }

            .fa-search{
                font-size: .9rem;
                padding: 1px 10px;
                opacity: .7;
            }

            .fa-facebook-square{
                font-size: 1.6rem;
                color: $lightBg;
                margin-left: 5px;
            }

            .fa-facebook-square:hover{
                color: $lightBg;
                cursor: pointer;
            }

            .fa-bell{
                margin-right: 8px;
                padding-right: 10px;
                border-right: 1px solid $darkBlue;
            }
        }
    }

    /** END OF NAV SECTION **/

    .content{
        display: flex;
        justify-content: space-around;
        max-width: 1080px;
        margin-top: 20px;
        transform: translateX(-9%);

        section.left{
            width: 20vw;
            margin-right: 10px;
            .user{
                display: flex;
                height: 35px;
                padding: 5px;
                border-radius: 10%;
                .img{
                    width: 20px;
                    height: 20px;
                    margin-top: 2.5px;
                    background-image: url("../img/patrick.jpg");
                    background-size: cover;
                    border-radius: 50%;
                }

                .span{
                    margin: 0 60px 0 10px;
                    font-size: 0.9rem;
                    line-height: 25px;
                }

                .fas{
                    @include dotsLeft;
                    opacity: 0;
                }
            }

            .user:hover{
                cursor: pointer;
                background-color: $lightBg;
            }
            
            .user:hover .fas{opacity: 1;}

            .userNav{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 10px;

                .news{
                    display: flex;
                    width: 100%;
                    margin-top: 1px;
                    padding: 5px;
                    align-items: center;
                    font-size: .8rem;

                    .iconLeft{@include iconLeft;}
    
                    .fa-ellipsis-h{@include dotsLeft;}

                    .fa-home{color: #2b7945;}

                    .fa-circle{
                        font-size: .5rem;
                        color: #f32f2f;
                        margin-right: 10px;
                    }
                }
            }

            .news:hover{
                cursor: pointer;
                background-color: $lightBg;
            }

            .shortCut{
                .short{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    margin: 0 15px -10px 5px;
                    .one{
                        font-size: .9rem;
                        color: #666666;
                        font-weight: bold;
                    }

                    .two{
                        font-size: .9rem;
                        color: #2b2bb8;
                        opacity: 0;
                    }

                    .two:hover{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }

                .news{
                    display: flex;
                    width: 100%;
                    margin-top: 1px;
                    padding: 5px;
                    align-items: center;
                    font-size: .8rem;

                    .iconLeft{ @include iconLeft; }
    
                    .fa-ellipsis-h{
                        @include dotsLeft;
                        opacity: 0;
                    }

                    .fa-flag{color: #e4881f;}
                }

                .news:hover{
                    cursor: pointer;
                    background-color: $lightBg;}

                .news:hover .fa-ellipsis-h{opacity: 1;}
            }

            .shortCut:hover .two{opacity: 1;}

            .more{
                display: flex;
                align-items: center;
                padding: 0 5px;
                margin-top: -10px;

                .fa-caret-down{
                    font-size: 1rem;
                    color: #999999;
                }

                p{
                    font-size: .8rem;
                    margin-left: 10px;
                    color: $lightBlue
                }
            }

            .more:hover p{text-decoration: underline;}

            .more:hover{cursor: pointer;}
        }



        section.center{
            height: 100vh;
            width: 50vw;
            border: 1px solid black;
        }

        section.right{
            height: 200px;
            width: 30vw;
            border: 1px solid black;
        }
    }

}




