$lightBlue: #4267b2;
$darkBlue: #3b5ca0;
$darkBg: #e9ebee;
$lightBg: #f5f6f7;
$lightIcon: #1a2947;
$darkIcon: #0d1524;

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 10px;
    margin: 0;
    min-height: 100vh;
    background-color: $lightBg;
}

.wrapper{
    .nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5vh;
        min-height: 3rem;
        max-width: 1200px;
        background-color: $lightBlue;

        form.input{
            height: 2.6rem;
            width: 20rem;
        }
        .fab, .fas{
            font-size: 1.6rem;
            color: $lightIcon;
        }

        .fa-facebook-square{
            color: $lightBg;
        }
    }
}
