$lightBlue: #4267b2;
$darkBlue: #3b5ca0;
$darkBg: #e9ebee;
$lightBg: #f5f6f7;
$lightIcon: #1a2947;
$darkIcon: #0d1524;

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    font-size: 10px;
    margin: 0;
    min-height: 100vh;
    background-color: $lightBg;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    nav{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $lightBlue;
        .nav{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 5vh;
            min-height: 2.6rem;
            max-width: 1080px;
            flex-grow: 1;
            transform: translateX(-9%);

            form{
                display: flex;
                justify-content: space-between;
                height: 1.5rem;
                flex-grow: 1;
                margin: 0 30px 0 3px;
            }

            form input{
                flex-grow: 1;
                height: 100%;
                font-size: 1rem;
                padding-left: 5px;
                border: none;
            }

            form button{
                z-index: 0;
                border: none;
                height: 100%;
                width: 100%;
                cursor: pointer;
            }

            .btn{
                height: 1.6rem;
                line-height: 1.6rem;
                padding: 0 5px;
                border-right: 1px solid $darkBlue;
                border-radius: 10%;
            }

            .btn button{
                border: none;
                background-color: transparent;
                color: $lightBg;
                font-weight: bold;
                cursor: pointer;
            }

            .btn:hover{
                background-color: $darkBlue;
            }

            .profile{
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .profile img{
                width: 1.6rem;
                height: 1.6rem;
                border-radius: 50%;
                margin-right: 5px;
            }

            .fab, .fas{
                font-size: 1.4rem;
                color: $lightIcon;
                padding: 0 8px;
            }

            .fab:hover, .fas:hover{
                color: $darkIcon;
                cursor: pointer;
            }

            .fa-search{
                font-size: .9rem;
                padding: 1px 10px;
                opacity: .7;
            }

            .fa-facebook-square{
                font-size: 1.6rem;
                color: $lightBg;
                margin-left: 5px;
            }

            .fa-facebook-square:hover{
                color: $lightBg;
                cursor: pointer;
            }

            .fa-bell{
                margin-right: 8px;
                padding-right: 10px;
                border-right: 1px solid $darkBlue;
            }
        }
    }
}
